:root{
  --purple:#AE85FF;
  --deep-purple:#AE85FF;
  --orange:#ff9a3c;
  --orange2:#ff7b00;
  --bg:#f6f2ff;
}

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
}

body{
  background:var(--bg);
  color:var(--deep-purple);
  display:flex;
  align-items:center;
  justify-content:center;
  padding:40px 10px;
}

.container{
  width:100%;
  max-width:900px;
  background:#fff;
  border-radius:18px;
  box-shadow:0 8px 22px rgba(0,0,0,0.12);
  overflow:hidden;
  display:flex;
  flex-direction:row;
  gap:0;
}

.img-area{
  width:50%;
  background:#eee;
  display:flex;
  align-items:center;
  justify-content:center;
}

.img-area img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.details{
  width:50%;
  padding:30px 28px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

h1{
  margin-bottom:10px;
  font-size:28px;
  color: blueviolet;
}

.info{
  margin-bottom:14px;
  font-size:16px;
  line-height:1.45;
  color: #ff7b00;
}

.info span{
  font-weight:bold;
  color: #AE85FF;
}

.btn-adotar{
  margin-top:20px;
  padding:14px;
  border-radius:12px;
  border:none;
  width:100%;
  text-align:center;
  color:#fff;
  font-size:18px;
  font-weight:700;
  text-decoration:none;
  cursor:pointer;
  background: blueviolet;
  transition:opacity .25s, transform .25s;
}

.btn-adotar:hover{
  opacity:.9;
  transform:scale(1.03);
}
.btn-voltar {
    display: inline-block;
    background: #FFBD59;
    color: white;
    padding: 12px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.btn-voltar:hover {
    background: blueviolet;
    transform: scale(1.05);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.6);
    z-index: 999;
}

.modal-box {
    background: #fff;
    padding: 25px;
    width: 320px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.modal-box p {
  color: black;
    font-size: 16px;
    margin-bottom: 20px;
}

.modal-btns {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn-login {
    background: blueviolet;
    color: #fff;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.btn-fechar {
    background: #FFBD59;
    color: #fff;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}


@media(max-width:850px){
  .container{
    flex-direction:column;
  }
  .img-area, .details{
    width:100%;
  }
  .img-area{
    max-height:350px;
  }
}
